# copy the below into .env and then go get these keys from your accounts

# DO NOT commit this file to your repository!
SENTRY_ENVIRONMENT="dev"

#
IS_DEV_ENVIRONMENT=true

# cloudflare TURN
CLOUDFLARE_TURN_TOKEN_ID=
CLOUDFLARE_TURN_API_TOKEN=
#curl \
#	-H "Authorization: Bearer d9c5dc90387fe020165197d92fec1d5dbb62ca2ffb432d3c06e6ec4438dd9e4b" \
#	-H "Content-Type: application/json" -d '{"ttl": 86400}' \
#	https://rtc.live.cloudflare.com/v1/turn/keys/efd28dcc911bd995d20edd927400d9c5/credentials/generate-ice-servers
VITE_POSTHOG_PROJECT_TOKEN=phc_yVFqMSYG88kEXYf4vcMJgS7YuHpjRyYCD4aWicRXuJtF
VITE_POSTHOG_HOST=https://us.i.posthog.com
